<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Lista", url_for(:controller => config[:controller], :action => "index") %></li>
      <li><%= link_to "Crear", url_for(:controller => config[:controller], :action => "new")+(config[:extra_params].blank? ? '' : config[:extra_params]) %></li>
    </ul>
  </div>
  <div class="content">

    <h2 class="title">
			<% if config[:show_title] %>
				Tod<%= config[:masculino] ? "o" : "a"%>s <%= config[:masculino] ? "los" : "las"%> <%= config[:name].capitalize %>
			<% end %>
		</h2>

    <div class="inner">
		<%
			cfg = config
			cnt = 0
		%>

		<ul data-lvl="0">
		<% nested_set_options(cfg[:model]) do |i| %>
			<% i = i[0] if i.class == Array %>
			<%= raw '<ul>' if i.level > cnt %>
			<%= raw ('</ul>' * (cnt - i.level)) if i.level < cnt %>
				<li>
					<% cfg[:fields].each do |f| %>
						<%= '|' if f != cfg[:fields].first %>
						<%= i[f[0]]%>
					<% end %>
					| [
					<a href="<%= url_for(:controller => config[:controller], :action => "edit", :id => i) %>">Editar</a> |
					<a href="<%= url_for(:controller => config[:controller], :action => "destroy", :id => i) %>" data-confirm="¿Estás seguro?" data-method="delete" rel="nofollow">Eliminar</a>
						]
				</li>
			<% cnt = i.level %>
		<% end %>
		</ul>

    <div class="actions-bar wat-cf">
        <div class="actions">
        </div>

      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => config[:sidebar]) -%>
