<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Lista", url_for(:controller => config[:controller], :action => "index") %></li>
      <li><%= link_to "Crear", url_for(:controller => config[:controller], :action => "new")+(config[:extra_params].blank? ? '' : config[:extra_params]) %></li>
    </ul>
  </div>
  <div class="content">

    <h2 class="title">
			<% if config[:show_title] %>
				Tod<%= config[:masculino] ? "o" : "a"%>s <%= config[:masculino] ? "los" : "las"%> <%= config[:name].capitalize %>
			<% end %>
		</h2>

    <div class="inner">
		<%
			cfg = config
		%>

		<ul data-lvl="0" class="list">
		<% nested_set_options(cfg[:model]) do |i| %>
			<% i = i[0] if i.class == Array %>
				<li>
				<%= raw(" &nbsp;  &nbsp;  &nbsp;  &nbsp; ") * i.level%>
					<% cfg[:fields].each do |f| %>
						<%= '|' if f != cfg[:fields].first %>
						<%= i.send(f[0]) %>
					<% end %>
					| [
					<% if cfg[:actions] %>
						<% cfg[:actions].each do |a| %>
							<a href="#"
								data-uniq="<%=config[:unique_id].to_s%>"
								data-type="<%=i.class.to_s%>"
								data-id="<%=i.to_param%>"
								<%= (a.has_key?(:class) && !a[:class].blank? ? a[:class] : '') %>
							>
							<%= a[:label] %>
							</a> |
						<% end %>
					<% end %>
					<% if cfg[:default_actions] %>
					<a href="<%= url_for(:controller => config[:controller], :action => "edit", :id => i) %>">Editar</a> |
					<a href="<%= url_for(:controller => config[:controller], :action => "destroy", :id => i) %>" data-confirm="¿Estás seguro?" data-method="delete" rel="nofollow">Eliminar</a>
					<% end %>
						]
				</li>
		<% end %>
		</ul>

    <div class="actions-bar wat-cf">
        <div class="actions">
        </div>

      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => config[:sidebar]) -%>
